:root {
    --bg: #292929;
    --light-bg: #3D3D3D;
    --black-12: #0000001F; 
    --black-14: #00000024;
    --white: #FFFFFF;
    --white-40: #FFFFFF66;
    --yellow: #FFC453;
    --green: #29E489;
}
* {
    box-sizing: border-box;
}
body {
    padding: 33px 0;
    background-color: var(--bg);
}
.container {
    width: 398px;
    margin: 0 auto;
}
section {
    border-radius: 16px;
    padding: 16px;
    background-color: var(--light-bg);
    box-shadow: 0px 0px 2px var(--black-12), 0px 4px 8px var(--black-14);
}
.wheather .top {
    margin-bottom: 42px;
}
.wheather {
    display: flex;
    justify-content: space-between;
}
.wheather h2 {
    font-family: Inter;
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    color: var(--white);
}
.wheather span {
    display: block;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    color: var(--white-40);
}
.calender .top {
    margin-bottom: 16px;
}
.calender h2 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    color: var(--white);
}
.calender span {
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    color: var(--white-40);
}
.calender li {
    padding: 4px 0 4px 12px;
    margin-bottom: 6px;
}
.calender li:first-of-type {
    border-left: 2px solid var(--yellow);
}
.calender li:nth-of-type(2) {
    border-left: 2px solid var(--green);
}
.calender h3 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: var(--white);
}

